.research-card {
  background: var(--card);
  color: --text;
  border-radius: 24px;
  padding: 2rem;
}

.research-card h2 {
  margin-bottom: 1rem;
}

.research-card p {
  color: var(--muted-text);
}

.project-skills{
  display:flex;
  flex:wrap;
  justify-content: space-around;
  margin-bottom:1rem;
  margin-top:1rem;
}

span{
  border:2px solid var(--accent);
  background-color:var(--accent-light);
  border-radius:15px;
  padding:.5rem;
}

.research-card .project-link {
  color: var(--pink-dark);
  font-weight:700;
}